<h1>Code Recon</h1>

  <div class="col-md-8">
    <% if User.first.myposts.any? %>
      	<h3></h3>
     	 <ol class="microposts">

        	<%= render Mypost.all %>
     	 </ol>
      
    <% end %>
  </div>
<% if logged_in? && current_user.admin %>
	<div>
		<%= form_for(@mypost) do |f| %>
		  <%= render 'shared/error_messages', object: f.object %>
		  <div class="field">
		    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
		  </div>
		  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
<% end %>