<div class="mobile_front">
	<div class="big_button pink_button huge">
		<h1 class="button_title">Resources</h1>


		<%= link_to "http://www.theodinproject.com/", {:class => "button_link_format"} do %>
			<div class="big_button red_button">
				<h1 class="button_title">Odin Project</h1>
			</div>
		<% end %>




		<%= link_to "https://news.ycombinator.com/", {:class => "button_link_format"} do %>
			<div class="big_button black_button">
				<h1 class="button_title">Hacker News</h1>
			</div>
		<% end %>

		

			<%= link_to "http://guides.rubyonrails.org/", {:class => "button_link_format"} do %>
			<div class="big_button blue_button">
				<h1 class="button_title">Rails Guides</h1>
			</div>
		<% end %>
			<%= link_to "https://www.railstutorial.org/book", {:class => "button_link_format"} do %>
			<div class="big_button orange_button">
				<h1 class="button_title">Hartl Turorial</h1>
			</div>
		<% end %>
			<%= link_to "https://www.reddit.com/r/learnprogramming", {:class => "button_link_format"} do %>
			<div class="big_button light_blue_button">
				<h1 class="button_title">/r/learn_pr..</h1>
			</div>
		<% end %>
	</div>
	

</div>
