<div class="main_pane">
	<div>
		<h3 class="project_title">Project Knowledge Center</h3>
	</div>
	<div class="pane_head">
		<h2>Objective</h2>
	</div>
		<p>
			With this application I hope to create a place where anything can be learned by way a hierarchical map of human skillsets. The goal would be to include information that cannot be quickly and easily looked up, but instead is a resource for acquiring information that must be learned in order to accomplish a future task.<br><br>

			The most efficient way to learn a skill would be voted upon by the community. This method would then stay at the top of the page.  These steps are then organized into a hierarchy of skills that build on top of each other.<br><br>

			Realizing that some people learn through doing, some through reading, or listening or watching, each of these methods would be included at the top as subsections.<br><br> 

			Once a skill has been acquired, this will open up the ability to progress to higher skillsets. I have considered locking down each further step with a test of some sort, but these are likely to be gamed by those willing to do so. Each student will have to test thier own skills, hopfully through a test that has been produced by the community. In this way the student will know when they have sufficiently mastered the skill and are ready to move on and yet also can make a realistic assessment of thier current skills to skip ahead where they see fit.<br><br>
		</p>
	<div>
		<p></p>
	</div>
	<div class="pane_head">
		<h2>List of Features to Add</h2>
	</div>
	<div>
		<p>
			

		</p>
	</div>

	<div class="pane_content">
		<%=  render List.where(interest_id: 2)%>
	</div>

	<% if logged_in? && current_user.admin %>
		<div>
			<%= form_for :list , url: lists_path do |f| %>
				
				
			   <%= f.text_area :content, placeholder: "Add a list item..." %>
			   <%= f.hidden_field(:interest_id) %> 
			  
			  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
			<% end %>
		</div>
	<% end %>
	
</div>
